<h1>Добавление нового поставщика</h1>
<%= show_errors(params['errors']) unless params['errors'].nil? %>
<table>
  <% form_tag :action => 'add_commit' do %>
  <tr><td><h4>Название компании:</h4></td>
      <td><%= text_field_tag('provider[company_name]', '', :size => 32) %></td>
  </tr>
  <tr><td><h4>Юридический адрес:</h4></td>
      <td><%= text_field_tag('provider[jur_address]', '', :size => 32) %></td>
  </tr>
  <tr><td><h4>Фактический адрес:</h4></td>
      <td><%= text_field_tag('provider[fact_address]', '', :size => 32) %></td>
  </tr>
  <tr><td><h4>Веб-сайт:</h4></td>
      <td><%= text_field_tag('provider[site]', '', :size => 32) %></td>
  </tr>
  <tr><td><h4>Телефон (десятизначный номер):</h4></td>
      <td><%= text_field_tag('provider[phone]', '', :size => 10) %></td>
  </tr>
  <tr><td><h4>Электронная почта:</h4></td>
      <td><%= text_field_tag('provider[email]', '', :size => 32) %></td>
  </tr>

  <tr><td><%= submit_tag 'Добавить' %></td>
  <% end %>
      <td><%= button_to 'Отмена', :action => 'list' %></td>
  </tr>
</table>

