<h1>Информация о перевозчике</h1>
<table>
  <tr>
    <th>Название компании:</th>
    <td><%= @item.company_name %></td>
  </tr>
  <tr>
    <th>Юридический адрес</th>
    <td><%= @item.jur_address %></td>
  </tr>
  <tr>
    <th>Фактический адрес</th>
    <td><%= @item.fact_address %></td>
  </tr>
  <tr>
    <th>Веб-сайт</th>
    <td><%= @item.site %></td>
  </tr>
  <tr>
    <th>Телефон</th>
    <td><%= number_to_phone(@item.phone, :area_code => true) %></td>
  <tr>
  <tr>
    <th>e-mail</th>    
    <td><%= @item.email %></td>
  </tr>
  <tr>
    <td><%= button_to 'Редактировать', :action => 'edit', :id => @item.id %></td>
    <td><%= button_to 'Удалить из базы', :action => 'destroy', :id => @item.id %></td>
  </tr>
</table>

<p><%= link_to 'Назад к списку', :action => 'list' %></p>
<p><%= link_to 'На главную', :controller => 'main' %></p>
