<h1>Список поставщиков</h1>
<table>
  <% @providers.each do |item| %>
    <tr>
      <td><%= item.company_name %></td>
      <td><%= button_to 'Информация', :action => 'info', :id => item.id %></td>
      <td><%= button_to 'Редактировать', :action => 'edit', :id => item.id %></td>
      <td><%= button_to 'Удалить из базы', :action => 'destroy', :id => item.id %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Добавить поставщика', :action => 'add' %></p>
<p><%= link_to 'На главную', :controller => 'main' %></p>
