<h1>Список станций в базе</h1>
<table>
<% for item in @stations %>
  <tr>
  <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.city %></td>
    <td><%= get_transport(item.transport) %></td>
    <td><%= button_to 'Редактировать', :action => 'edit', :id => item.id %></td>
    <td><%= button_to 'Удалить из базы', :action => 'destroy', :id => item.id %></td>
  </tr>
<% end %>
</table>
<p><%= link_to 'Добавить станцию', :action => 'add' %></p>
<p><%= link_to 'На главную', :controller => 'main' %></p>
