<h1>Выбор маршрута</h1>
<table>
  <tr>
    <th>Вид транспорта</th>
    <th>Перевозчик</th>
    <th>Номер</th>
    <th>Маршрут следования</th>
    <th>Пункт оправления</th>
    <th>Время оправления</th>
    <th>Пункт прибытия</th>
    <th>Время прибытия</th>
    <th>Выбор даты отправления</th>
  </tr>
  <% for item in @routes %>
  <tr>
    <td><%= get_kind(item.transport) %></td>
    <td><%= item.provider.company_name %></td>
    <td><%= item.number %></td>
<<<<<<< HEAD
    <td><%= get_transport(item.transport) %></td>
    <td><%= arr_and_dep(item.id, 'city') %></td>
    <td><%= button_to 'Просмотр маршрута', :controller => 'routes', :action => 'view', :id => item.id %></td>
=======
    <td><%= button_to 'Просмотр маршрута', :action => 'view', :id => item.id  %></td>
    <td><%= t_station(item.id, @station_trucking) %></td>
    <td><%= t_dep_time(item.id, @station_trucking) %></td>
    <td><%= t_station(item.id, @station_arrival) %></td>
    <td><%= t_arr_time(item.id, @station_arrival) %></td>
    <td><%= t_dates_list('ticket[date]', item.id) %></td>
    <td><%= button_to 'Заказать', :action => 'list', :id => item.id %></td>
>>>>>>> 22570c769a07d2c9bf9a0522e633295476913269
  </tr>
  <% end %>
</table>
<p><%= link_to 'Возврат к поиску', :controller => 'ticket', :action => 'search' %>
<p><%= link_to 'На главную', :controller => 'main' %></p>
