<%= show_errors(params['errors']) unless params['errors'].nil? %>
<% form_tag :action => 'list_route' do %>
<table>
 <tr>
    <th>Транспорт:</th>
    <% for i in 0...$kinds.size %>
    </tr>  
 <tr>
    <td><%= $kinds[i] %>:</td>
    <td><%=  check_box_tag('@transport[i]', i, false)%></td>
 </tr>
    <% end %>
</table>
<table>
  <tr>
    <th>Пункт отправления:</th>
    <td><%= cities_list('ticket[departure_city]') %></td>
  </tr>
  <tr>
    <th>Пункт прибытия:</th>
    <td><%= cities_list('ticket[arrival_city]') %></td>
  </tr>
  <tr>
    <th>Дата отправления:</th>
    <td><%= date_select('ticket', :date_trucking, :order => [:day, :month, :year]) %></td>
  </tr>
  <tr><td><%= submit_tag 'Поиск' %></td>
      <% end %>
  </tr>  
</table>

