<h1>Поиск</h1>
<%= show_errors(params['errors']) unless params['errors'].nil? %>
<% form_tag :action => 'list_route' do %>
<table>
 <tr>
    <th>Транспорт:</th>
 </tr>
 <tr>
    <% i=0 %>
    <% $kinds.each do |e| %>   
    <td><%= e %>:</td>
    <td><%= check_box_tag('ticket[transports][]', i, false, :id=>nil) %></td>
    <% i+=1 %>
 </tr>
    <% end %>
</table>
<table>
  <tr>
    <th>Пункт отправления:</th>
    <td><%= city_stations_list('ticket[city_station_trucking]', 'ticket[transport]') %></td>
  </tr>
  <tr>
    <th>Пункт прибытия:</th>
    <td><%= city_stations_list('ticket[city_station_arrival]', 'ticket[transport]') %></td>
  </tr>
  <tr>
    <th>Дата:</th>
    <td><%= date_select 'ticket', :date, :order => [:day, :month, :year] %></td>
  </tr>
</table>
<table>
  <tr><td><%= submit_tag 'Поиск' %></td>
      <% end %>
  </tr>  
</table>
<p><%= link_to 'На главную', :controller => 'main' %></p>

