<h1>My account</h1>
<%= "Username: " + @user.username%>
<br>
<%= "Account created at " + "#{@user.created_at}"%>
<br>
<% if !@user.client.nil? %>
	<%= "Name = " + @user.client.name %><br>
	<%= "Surname = " + @user.client.surname %><br>
	<%= "Patronic = " + @user.client.patronic %><br>
<%else%>
	<h1>client is nil<h1>
<% end %>
