<h1>Новый маршрут</h1>
<%= show_errors(params['errors']) unless params['errors'].nil? %>
<table>
  <% form_tag :action => 'add_commit' do %>
  <tr><td><h4>Номер:</h4></td>
      <td><%= text_field_tag('route[number]', '', :size => 32) %></td>
  </tr>
  <tr><td><h4>Вид транспорта:</h4></td>
      <td><%= kinds_list('route[transport]') %></td>
  </tr>
  <tr><td><h4>Перевозчик:</h4></td>
      <td><%= providers_list('route[provider_id]') %></td>
  </tr>
  <tr><td><%= submit_tag 'Добавить' %></td>
  <% end %>
      <td><%= button_to 'Отмена', :action => 'list' %></td>
  </tr>
</table>
