<% form_tag :action => 'edit_station_commit' do %>
<%= hidden_field_tag('route_station[id]', @item.id)  %>
<%= hidden_field_tag('route_station[route_id]', @route_id)  %>
<table>
  <tr>
    <th>Время прибытия:</th>
    <td>День: <%= text_field_tag('route_station[arr_day]', "#{@item.arr_day}", :size => 2) %> Часы: <%= text_field_tag('route_station[arr_hour]', "#{@item.arr_hour}", :size => 2) %> Минуты: <%= text_field_tag('route_station[arr_minute]', "#{@item.arr_minute}", :size => 2) %></td>
  </tr>
  <tr>
    <th>Время отправления:</th>
    <td>День: <%= text_field_tag('route_station[dep_day]', "#{@item.dep_day}", :size => 2) %> Часы: <%= text_field_tag('route_station[dep_hour]', "#{@item.dep_hour}", :size => 2) %> Минуты: <%= text_field_tag('route_station[dep_minute]', "#{@item.dep_minute}", :size => 2) %></td>
  </tr>
  <tr>
    <th>% пути:</th>
    <td><%= text_field_tag('route_station[percents]', "#{(@item.percents*100).to_i}", :size => 3) %></td>
  </tr>
  </tr><td><%= submit_tag 'Сохранить изменения' %></td>
      <% end %>
      <td><%= button_to 'Отмена', :action => 'view', :id => @route_id %></td>
</table
