<h1>Места в поезде <%= @route.number %> на <%= date_format(@date.date) %></h1>
<%= get_categories_places_total(@places.flatten, 1) %>
<%= button_to 'Добавить вагон', :action => 'add_wagon', :date => @date.id, :route => @route.id %>
<%= button_to 'Редактировать цены', :action => 'edit_prices', :date => @date.id, :route => @route.id %>
<table>
    <tr>
      <th>Номер вагона</th>
      <th>Места</th>
    </tr>
  <% @wagons.each_index do |w| %>
    <tr>
      <td><%= @wagons[w] %></td>
      <td><%= get_categories_places_total(@places[w], 1) %></td>
      <td><%= button_to 'Список мест', :action => 'view_unit_places', :kind => "в вагоне № #{@wagons[w]} поезда #{@route.number}", :date => @date.id, :wagon => @wagons[w], :route => @route.id %></td>
      <td><%= button_to 'Удалить вагон', :action => 'delete_wagon', :date => @date.id, :wagon => @wagons[w], :route => @route.id %></td>
    </tr>
  <% end %>  
</table>
<%= link_to 'Назад', :action => 'view', :id => @route.id %><br />
<%= link_to 'К списку маршрутов', :action => 'list' %><br />
<%= link_to 'На главную', :controller => 'main' %>
