<h1>Места в самолёте <%= @route.number %> на <%= date_format(@date.date) %></h1>
<% if @places.size > 0 %>
  <%= get_categories_places_total(@places.flatten, 0) %>
  <%= button_to 'Редактировать цены', :action => 'edit_prices', :date => @date.id, :route => @route.id %>
<% else %>
  <%= button_to 'Указать модель самолёта', :action => 'add_plane', :date => @date.id, :route => @route.id %>
<% end %>
<table>
    <tr>
      <th>Категория</th>
      <th>Места</th>
    </tr>
  <% @categories.each_index do |w| %>
    <tr>
      <td><%= get_category(@categories[w], 0) %></td>
      <td><%= get_single_category_places(@places[w]) %></td>
      <td><%= button_to 'Список мест', :action => 'view_unit_places', :kind => "#{get_category(@categories[w], 0)}а самолёта #{@route.number}", :date => @date.id, :category => @categories[w], :route => @route.id %></td>
    </tr>
  <% end %>  
</table>
<%= link_to 'Назад', :action => 'view', :id => @route.id %><br />
<%= link_to 'К списку маршрутов', :action => 'list' %><br />
<%= link_to 'На главную', :controller => 'main' %>
